:root {
  --color-primary-light: #bde5c2;
  --color-primary: #25be3a;
  --color-primary-dark: #088d1a;

  --color-accent-light: #e5b7ac;
  --color-accent: #ed4620;
  --color-accent-dark: #af2f12;

  --color-white-transparent: rgba(255, 255, 255, 50%);
  --color-gray-transparent: rgba(150, 150, 150, 50%);
  --color-black-transparent: rgba(0, 0, 0, 50%);
  --color-transparent: rgba(0, 0, 0, 0);

  --color-white: #fff;
  --color-gray-light-extra: #f9f8f8;
  --color-gray-light: #f4f4f4;
  --color-gray: #dfdfdf;
  --color-gray-dark: #bcbcbc;
  --color-gray-dark-extra: #a6a6a6;
  --color-black: #000;

  --color-success-light: #bde5c2;
  --color-success: #25be3a;
  --color-success-dark: #088d1a;

  --color-error-light: #e5b7ac;
  --color-error: #ed4620;
  --color-error-dark: #af2f12;
}
